<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>12A3F336-23E3-4564-A441-2B9FADE211E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>id</string>
			<key>spaces</key>
			<string>utf8</string>
			<key>text</key>
			<string>Domain</string>
			<key>url</key>
			<string>noplus/https://app.shopify.com/services/internal/shops?anything={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>20141125-F205-427D-8742-7BBB0A687B8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>forums</string>
			<key>text</key>
			<string>ShopifyForumsSearch</string>
			<key>url</key>
			<string>https://ecommerce.shopify.com/ecommerce?q={query}&amp;x=0&amp;y=0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>26C7E02A-B658-4608-B7C4-838CD9C2603B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dev</string>
			<key>text</key>
			<string>ShopifyDevHandbook</string>
			<key>url</key>
			<string>https://development.shopify.io/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9BE3B397-C31D-4375-A16A-486D9B32BBAF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>id</string>
			<key>spaces</key>
			<string>utf8</string>
			<key>text</key>
			<string>Domain</string>
			<key>url</key>
			<string>noplus/http://appsforgurus.myshopify.com/search?type=product&amp;q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>AE8A3F87-A246-48E0-91D8-AE481F65FB94</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vault</string>
			<key>text</key>
			<string>TheVault</string>
			<key>url</key>
			<string>https://vault.shopify.io/search?q={query}.</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C03F8351-9F7B-4F57-8071-136014F5D8CE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>name</string>
			<key>text</key>
			<string>Cust.Name</string>
			<key>url</key>
			<string>https://app.shopify.com/services/internal/shops?name={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D24CA6ED-8A9B-44C5-A2E3-74B552AD9F42</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>id</string>
			<key>spaces</key>
			<string>utf8</string>
			<key>text</key>
			<string>Domain</string>
			<key>url</key>
			<string>noplus/https://app.shopify.com/services/internal/shops/find?shop_domain={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>DFE8BF0D-2770-4E78-BCD3-B1954ADA7A40</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>id</string>
			<key>spaces</key>
			<string>utf8</string>
			<key>text</key>
			<string>Domain</string>
			<key>url</key>
			<string>noplus/https://app.shopify.com/services/internal/shops?email={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>EA792060-D72F-4468-BF6E-918899CB4EE8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>doc</string>
			<key>text</key>
			<string>Docs</string>
			<key>url</key>
			<string>https://help.shopify.com/en/search?utf8=✓&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F81CBECC-23FB-4F3B-B6BE-FB4D1B236D6E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>id</string>
			<key>spaces</key>
			<string>utf8</string>
			<key>text</key>
			<string>Domain</string>
			<key>url</key>
			<string>noplus/https://app.shopify.com/services/internal/shops/show?last_digits={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
