/*
!.tmux.conf
!.install.sh
!.gitignore
!.vimrc
!.bashrc
!.bash_login
!.bash_profile
!.gitconfig
!/.config
/.config/karabiner/*
!/.vim
/.vim/undo/*
#!/.vim/*
#!/.vim/**/*
.vim/.netrwhist
!.vimrc_background
