<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.stripe.justinmichael.alfred.go</string>
	<key>connections</key>
	<dict>
		<key>BBD7FE7D-27B7-4BAE-9DD3-CA5066AE39BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A96722B-6536-413C-BF49-4A6BBBD714B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5A6E117-2BB8-4943-B37D-274E864E6A10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29B62FD1-C6F3-4805-ADB8-97D9B4F4CE52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1A41287-D2E8-41DF-8942-6EA5947343BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23CDAE60-AC7A-4348-B9C3-2D71C09B1422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDB321B3-B78B-4BE4-A8B3-2F9A300BA69D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DF99558-02EA-4F5F-8422-E2F30FF6BCA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA010B2D-C2AD-445E-964F-212E3CC1AC7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CF7EAB0-1CFC-44CF-9262-C265C7C48C4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Justin Michael (@justinmichael)</string>
	<key>description</key>
	<string>Handy shortcuts to take you to various places.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>go</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go!</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDB321B3-B78B-4BE4-A8B3-2F9A300BA69D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>/</string>
				<key>url</key>
				<string>http://go/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1DF99558-02EA-4F5F-8422-E2F30FF6BCA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stripe.com/docs</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>29B62FD1-C6F3-4805-ADB8-97D9B4F4CE52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Stripe Docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D5A6E117-2BB8-4943-B37D-274E864E6A10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stripe.com/docs/api</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0CF7EAB0-1CFC-44CF-9262-C265C7C48C4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>api</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Stripe API Reference</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FA010B2D-C2AD-445E-964F-212E3CC1AC7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.corp.stripe.com/browse/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>23CDAE60-AC7A-4348-B9C3-2D71C09B1422</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Jira</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1A41287-D2E8-41DF-8942-6EA5947343BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>go/grep</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BBD7FE7D-27B7-4BAE-9DD3-CA5066AE39BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://livegrep.corp.stripe.com/search/stripe?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6A96722B-6536-413C-BF49-4A6BBBD714B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CF7EAB0-1CFC-44CF-9262-C265C7C48C4D</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>1DF99558-02EA-4F5F-8422-E2F30FF6BCA9</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>23CDAE60-AC7A-4348-B9C3-2D71C09B1422</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>29B62FD1-C6F3-4805-ADB8-97D9B4F4CE52</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>6A96722B-6536-413C-BF49-4A6BBBD714B4</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>BBD7FE7D-27B7-4BAE-9DD3-CA5066AE39BD</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>D5A6E117-2BB8-4943-B37D-274E864E6A10</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E1A41287-D2E8-41DF-8942-6EA5947343BE</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>EDB321B3-B78B-4BE4-A8B3-2F9A300BA69D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FA010B2D-C2AD-445E-964F-212E3CC1AC7A</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://go/justinmichael/alfred</string>
</dict>
</plist>
